/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    font-weight: 900;
}

@font-face {
    font-family: 'Roboto';
    font-weight: bold;
}

@font-face {
    font-family: 'Roboto';
    font-weight: 300;
}

@font-face {
    font-family: 'Roboto';
    font-weight: 100;
}

.b-contain *,
.b-contain *::before,
.b-contain *::after {
    -webkit-box-sizing: content-box !important;
    box-sizing: content-box !important;
}

.b-contain input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.b-contain span {
    line-height: 1.54;
    font-size: 1rem;
    font-family: inherit;
}

.b-contain {
    display: table;
    position: relative;
    padding-left: 1.8rem;
    cursor: pointer;
    margin-bottom: .5rem;
}

.b-contain input[type="checkbox"]~.b-input {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.25rem;
    width: 1.25rem;
    background: white;
    -webkit-transition: background 250ms;
    -o-transition: background 250ms;
    transition: background 250ms;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 0rem;
}

.b-contain input[type="radio"]~.b-input {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.25rem;
    width: 1.25rem;
    background: white;
    -webkit-transition: background 250ms;
    -o-transition: background 250ms;
    transition: background 250ms;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 2.0rem;
}

.b-contain input[type="checkbox"]~.b-input::after {
    content: '';
    position: absolute;
    display: none;
    left: .45rem;
    top: .18rem;
    width: .25rem;
    height: .6rem;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transition: background 250ms;
    -o-transition: background 250ms;
    transition: background 250ms;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.b-contain input[type="radio"]~.b-input::after {
    content: '';
    position: absolute;
    display: none;
    left: .25rem;
    top: .25rem;
    width: .75rem;
    height: .75rem;
    border-radius: 2.0rem;
    background: white;
    -webkit-transition: background 250ms;
    -o-transition: background 250ms;
    transition: background 250ms;
}

.b-contain input:disabled~.b-input::after {
    border-color: #8795a1;
}

.b-contain input:checked~.b-input::after {
    display: block;
}

/* .b-contain:hover input~.b-input,
.b-contain input:focus~.b-input {
    background: #e7eef3;
} */

/* .b-contain input:focus~.b-input {
    box-shadow: 0 0 0 2px rgba(52, 144, 220, 0.5);
} */

.b-contain input:checked~.b-input {
    background: #0082f3;
    border-color: #0082f3;
}

.b-contain input[type="checkbox"]:disabled~.b-input {
    background: #f1f5f8;
    border-color: #b8c2cc;
    opacity: 0.6;
    cursor: not-allowed;
}

.b-contain input[type="radio"]:disabled~.b-input {
    background: #f1f5f8;
    border-color: #b8c2cc;
    opacity: 0.6;
    cursor: not-allowed;
}

.b-contain input[type="radio"]:disabled~.b-input::after {
    background: #8795a1;
}

.b-contain input:checked:focus~.b-input,
.b-contain:hover input:not([disabled]):checked~.b-input {
    background: #0d8fff;
    border-color: #0d8fff;
}

.b-contain .b-input::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 3rem;
    height: 3rem;
    background: #0082f3;
    border-radius: 2rem;
    opacity: .6;
    z-index: 99999;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}


.b-contain *,
.b-contain *::before,
.b-contain *::after {
    -webkit-box-sizing: content-box !important;
    box-sizing: content-box !important;
}

textarea:focus,
input:focus {
    outline: none;
}

a {
    color: #000 !important;
}

a:hover {
    text-decoration: none;
}

.b-contain input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.b-contain span {
    line-height: 1.54;
    font-size: 1rem;
    font-family: inherit;
}

.b-contain {
    display: table;
    position: relative;
    padding-left: 2.5rem;
    cursor: pointer;
    margin-bottom: .5rem;
}

.b-contain input[type="checkbox"]~.b-input {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.25rem;
    width: 1.25rem;
    background: white;
    -webkit-transition: background 250ms;
    -o-transition: background 250ms;
    transition: background 250ms;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 0rem;
}

.b-contain input[type="radio"]~.b-input {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.25rem;
    width: 1.25rem;
    background: white;
    -webkit-transition: background 250ms;
    -o-transition: background 250ms;
    transition: background 250ms;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 2.0rem;
}

.b-contain input[type="checkbox"]~.b-input::after {
    content: '';
    position: absolute;
    display: none;
    left: .45rem;
    top: .18rem;
    width: .25rem;
    height: .6rem;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transition: background 250ms;
    -o-transition: background 250ms;
    transition: background 250ms;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.b-contain input[type="radio"]~.b-input::after {
    content: '';
    position: absolute;
    display: none;
    left: .25rem;
    top: .25rem;
    width: .75rem;
    height: .75rem;
    border-radius: 2.0rem;
    background: white;
    -webkit-transition: background 250ms;
    -o-transition: background 250ms;
    transition: background 250ms;
}

.b-contain input:disabled~.b-input::after {
    border-color: #8795a1;
}

.b-contain input:checked~.b-input::after {
    display: block;
}

.b-contain:hover input~.b-input,
.b-contain input:focus~.b-input {
    background: #e7eef3;
}

.b-contain input:checked~.b-input {
    background: #0082f3;
    border-color: #0082f3;
}

.b-contain input[type="checkbox"]:disabled~.b-input {
    background: #f1f5f8;
    border-color: #b8c2cc;
    opacity: 0.6;
    cursor: not-allowed;
}

.b-contain input[type="radio"]:disabled~.b-input {
    background: #f1f5f8;
    border-color: #b8c2cc;
    opacity: 0.6;
    cursor: not-allowed;
}

.b-contain input[type="radio"]:disabled~.b-input::after {
    background: #8795a1;
}

.b-contain input:checked:focus~.b-input,
.b-contain:hover input:not([disabled]):checked~.b-input {
    background: #0d8fff;
    border-color: #0d8fff;
}

.b-contain .b-input::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 3rem;
    height: 3rem;
    background: #0082f3;
    border-radius: 2rem;
    opacity: .6;
    z-index: 99999;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

body {
    background: white;
    font-family: "Roboto", sans-serif;
}

.h-mh-100 {
    height: 100% !important;
    max-height: 100% !important;
}

.pd-l-20 {
    padding-left: 20px !important;
}

.pd-r-20 {
    padding-right: 20px !important;
}

.pd-r-25 {
    padding-right: 25px !important;
}

.pd-r-55 {
    padding-right: 55px !important;
}

.pd-l-25 {
    padding-left: 25px !important;
}

.row {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.page-wrapper {
    position: relative;
    -webkit-box-shadow: 0px 0px 30px 4px rgba(169, 198, 255, 0.78);
    box-shadow: 0px 0px 30px 4px rgba(169, 198, 255, 0.78);
    background-color: #F9F9F9;
    /* overflow: hidden; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.page-wrapper .page-header {
    background: #ECEFF6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.page-header .b-contain span {
    font-size: 18px;
}

.page-wrapper .page-header * {
    margin-bottom: 0;
    margin-top: 0;
}

.page-wrapper .page-header .send-sms-button-wrapper #header-send-sms-button {
    background: #0079fe;
    color: white;
    height: 45px;
    text-transform: uppercase;
    font-weight: normal;
    min-width: 130px;
    font-size: 19px;
}

.page-wrapper .page-header .send-sms-button-wrapper #header-send-sms-button:active {
    background: #0074f5;
}

.page-wrapper .page-header .search-wrapper .search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    border: solid 1px #E0E0E0;
    background: white;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
}

.page-wrapper .page-header .search-wrapper .search #header-search-button {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 25px;
    height: 40px;
    cursor: pointer;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}

.page-wrapper .page-header .search-wrapper .search input[type=text] {
    height: 40px;
    border-radius: 0;
    border: none;
    background: transparent;
    width: inherit;
    overflow-y: scroll;
}

.page-wrapper .page-header .search-wrapper .search input[type=text]:focus {
    height: 40px;
    border-radius: 0;
    outline: none;
}

.page-wrapper .page-header .settings-button-wrapper {
    padding-right: 0;
}

.page-wrapper .page-header .settings-button-wrapper a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.page-wrapper .page-header .settings-button-wrapper #header-settings-button {
    color: black;
    font-size: 18px;
    font-weight: 600;
    border: solid 1px #C8C8C8;
    background: white;
    height: 42px;
    min-width: 90px;
    padding: 0 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.page-wrapper .page-header .settings-button-wrapper #header-settings-button:active {
    background: #f5f5f5;
}

.page-wrapper .list-headers-wrapper {
    background: #FAFBFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 78px;
}

.list-headers-wrapper-main {
    background: #FAFBFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 78px;
    color: #6D6E71;
}

.page-wrapper .list-items-wrapper {
    padding-left: 0;
    padding-right: 0;
}

.page-wrapper .list-items-wrapper .item {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid 3px #FBF2F2;
    background: #FFFFFF;
    font-weight: 400;
    font-size: 15px;
    height: 87px;
}

.page-wrapper .list-items-wrapper .item .item-column .header {
    display: inline;
    color: grey;
}

.page-wrapper .list-items-wrapper .item .text-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.page-wrapper .list-items-wrapper .item .text-column .content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.page-wrapper .list-items-wrapper .item .text-column .content .text-message,
.page-wrapper .list-items-wrapper .item .text-column .content .notification {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.page-wrapper .list-items-wrapper .item .text-column .content .text-message {
    -webkit-box-flex: 11;
    -ms-flex: 11;
    flex: 11;
    max-height: 65px;
    overflow: hidden;
}

.page-wrapper .list-items-wrapper .item .text-column .content .notification {
    -webkit-box-flex: 5;
    -ms-flex: 5;
    flex: 5;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 14px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.page-wrapper .list-items-wrapper .item .text-column .content .notification .notification-count {
    -ms-flex-item-align: end;
    align-self: flex-end;
    justify-items: center;
    background: #FF5555;
    color: #ffffff;
    width: 20px;
    height: 20px;
    border-radius: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.page-wrapper .list-items-wrapper .item .text-column .content .notification .notification-timestamp {
    min-height: 20px;
    color: #4B4848;
    -ms-flex-item-align: end;
    align-self: flex-end;
    margin-top: 10px;
    text-align: right;
    width: 100px;
}

.page-wrapper .list-items-wrapper .item .number-column .call-button,
.page-wrapper .list-items-wrapper .item .number-column .sms-button {
    width: 58px;
    height: 32px;
    color: white;
    font-weight: 500;
}

.page-wrapper .list-items-wrapper .item .number-column .call-button {
    background: #9AD685 !important;
    border: none;
    border-radius: 0;
}

.page-wrapper .list-items-wrapper .item .number-column .call-button:active {
    background: #92cc7d;
}

.page-wrapper .list-items-wrapper .item .number-column .sms-button {
    background: #4D89FF;
    margin-left: 10px;
    border: none;
    border-radius: 0;
}

.page-wrapper .list-items-wrapper .item .number-column .sms-button:active {
    background: #4b81f5;
}

.page-wrapper .list-items-wrapper .item.fired {
    background: rgba(218, 218, 219, 0.81);
}

.rectangle_button,
.page-wrapper .page-header .send-sms-button-wrapper #header-send-sms-button,
.page-wrapper .page-header .settings-button-wrapper #header-settings-button,
.page-wrapper .list-items-wrapper .item .number-column .call-button,
.page-wrapper .list-items-wrapper .item .number-column .sms-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
}

.container-wrap {
    padding-left: 25px;
    padding-right: 25px;
}

.container-wrap-left {
    padding-left: 25px;
}

.container-wrap-right {
    padding-right: 25px;
}

#header-search-input {
    color: #000;
    margin-left: 10px;
    font-weight: normal;
}

#header-search-input::-webkit-input-placeholder {
    color: #B6B7B9;
}

#header-search-input::-moz-placeholder {
    color: #B6B7B9;
}

#header-search-input:-ms-input-placeholder {
    color: #B6B7B9;
}

#header-search-input::-ms-input-placeholder {
    color: #B6B7B9;
}

#header-search-input::placeholder {
    color: #B6B7B9;
}

.font-weight-light {
    font-weight: 400 !important;
}

.phone-number {
    margin-bottom: 10px;
}

.list-headers-sortbar {}

.header-btn-block .header-round-btn {
    display: table-cell !important;
    border-radius: 0;
}

.header-round-btn span {
    font-size: 16px !important;
}

.header-btn-block .header-round-btn:first-child {
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
}

.header-btn-block .header-round-btn:last-child {
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
}

.header-round-btn {
    border-radius: 17px;
    padding: 5px 20px !important;
}

.header-btn {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    background: #FFFFFF;
    border: 1px solid #D4D4D5;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    padding: 5px 10px;
    cursor: pointer;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.header-btn a:hover {
    text-decoration: none;
}

.header-btn:not(.header-round-btn) a {
    color: #fff !important;
}

.header-btn input {
    border: none;
    width: 135px;
}

.header-btn-blue {
    background: #3897FF;
    border: none;
    color: #fff;
    padding: 5px 15px;
}

a.header-btn-blue {
    color: #fff !important;
}

.header-btn input::-webkit-input-placeholder {
    color: #9C9B9E;
}

.header-btn input::-moz-placeholder {
    color: #9C9B9E;
}

.header-btn input:-ms-input-placeholder {
    color: #9C9B9E;
}

.header-btn input::-ms-input-placeholder {
    color: #9C9B9E;
}

.header-btn input::placeholder {
    color: #9C9B9E;
}

.messenger-subhead .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* justify-content: center;
    padding-right: 5px !important;
    padding-left: 5px !important; */
}

.messenger-wrapper {
    background-color: #F8F8FA;
}

.messenger-content {
    width: 100%;
    height: 100%;
    max-height: 100%;
    display: contents;
}

.messenger-chat-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 10px;
    border-bottom: 3px solid #E6E6E6;
}

.messenger-chat-item {
    width: 100%;
}

.messenger-chat-item:not(:last-child) {
    margin-bottom: 25px;
}

.messenger-chat-item:last-child {
    margin-bottom: 10px;
}

.messenger-chat-item .chat-item__text {
    font-size: 18px;
    word-break: break-word;
}

.messenger-chat-item .chat-item__meta {
    display: flex;
    font-size: 12px;
    margin-top: 10px;
}

.messenger-chat-item .chat-item__left .chat-item__meta {
    justify-content: space-between;
}

.messenger-chat-item .chat-item__right .chat-item__meta {
    justify-content: flex-end;
}

.messenger-chat-items .chat-item__right {
    float: right;
    background-color: #0079FE;
    color: #fff;
    -webkit-box-shadow: 4px 4px 2px 1px #C8C8C8;
    box-shadow: 4px 4px 2px 1px #C8C8C8;
    border-radius: 30px 0px 30px 30px;
}

.messenger-chat-items .chat-item__right a {
    color: #fff;
    text-decoration: underline;
}

.messenger-chat-items .chat-item__left {
    float: left;
    background-color: #fff;
    -webkit-box-shadow: 4px 4px 2px 1px #C8C8C8;
    box-shadow: 4px 4px 2px 1px #C8C8C8;
    border-radius: 0px 30px 30px 30px;
}

.messenger-chat-items .chat-item__left a {
    color: #0079FE;
    text-decoration: underline;
}

.messenger-chat-items .chat-item__right,
.messenger-chat-items .chat-item__left {
    max-width: 390px;
    padding: 25px 30px;
}

.messenger-chat-input {
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    bottom: -100px;
    left: 0;
    width: 100%;
}

.messenger-chat-input input {
    width: 100%;
    background: #FFFFFF;
    border-radius: 20px;
    padding: 20px 65px 20px 25px;
    border: none;
}

.messenger-chat-input input::-webkit-input-placeholder {
    color: #959497;
}

.messenger-chat-input input::-moz-placeholder {
    color: #959497;
}

.messenger-chat-input input:-ms-input-placeholder {
    color: #959497;
}

.messenger-chat-input input::-ms-input-placeholder {
    color: #959497;
}

.messenger-chat-input input::placeholder {
    color: #959497;
}

.mymodal .mymodal-bg-blur {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(11, 12, 13, 0.25);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.mymodal-header {
    background-color: #0079FE;
    color: #fff;
    text-align: center;
    font-size: 20px;
    padding: 20px 30px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.mymodal {
    position: absolute;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 100;
}

.mymodal-wrapper {
    width: 362px;
    z-index: 100;
    -webkit-box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.25);
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

.mymodal-content {
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 40px 35px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.pos-relative {
    position: relative;
}

.mymodal-content .modal-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.mymodal-content .modal-form:not(:last-child) {
    margin-bottom: 30px;
}

.modal-label {
    margin-right: 30px;
    margin-bottom: 0 !important;
}

.modal-input {
    border: none;
    border-bottom: 1px solid #000;
}

.modal-btn {
    border: none;
    background-color: #0079FE;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    padding: 10px 25px;
}

.modal-buttons {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
}

.block-title {
    background-color: #0079FE;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    margin-bottom: 20px;
}

.table-head {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 500;
}

.trash-icon {
    cursor: pointer;
}

.trash-icon i {
    color: #B61E1E;
}

.table-item:not(:last-child) {
    margin-bottom: 15px;
}

.table-wrapper {
    height: 100%;
    max-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.table-wrapper .table-item {
    font-size: 14px;
}

.scroll-view {
    position: absolute;
    width: 100%;
    left: 0;
    height: 100%;
    max-height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.scroll-view::-webkit-scrollbar {
    width: 15px;
}

/* Track */
.scroll-view::-webkit-scrollbar-track {
    background-color: #ECECEC;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* Handle */
.scroll-view::-webkit-scrollbar-thumb {
    background: #3897FF;
    border-radius: 10px;
}

/* Handle on hover */
.scroll-view::-webkit-scrollbar-thumb:hover {
    background: #3897FF;
}

.table-content {
    position: relative;
    width: 100%;
    height: 100%;
}

.table-content .header {
    font-size: 15px;
}

.font-size-15 {
    font-size: 15px;
}

.drivers-table .table-head,
.drivers-table .table-content {
    font-weight: 500;
}

.subhead-wrapper {
    background-color: #FAFBFF;
    font-weight: 500;
}

.subhead-wrapper .header-round-btn {
    font-weight: normal;
    color: #4D4D4D;
}

.drivers-table .list-items-wrapper {
    font-size: 15px;
}

.list-items-wrapper .item .b-contain {
    margin-top: 20px !important;
}

.group_item {
    font-size: 15px;
}

.home-btn {
    font-size: 18px;
    font-weight: 500;
}

.checkbox_all .b-input {
    margin-top: 3px;
}

.header-datePicker {
    width: 156px;
}

.header-datePicker input {
    color: #9C9B9E;
}

#not_working-btn {
    border-right: 0;
}

.main {
    height: 100%;
    max-height: 100%;
}

.messenger-subhead+.main {
    padding-bottom: 100px;
}

.sms-notification-block {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 0 30px;
    margin-bottom: 10px;
}

.sms-notification-block .sms-notification {
    background-color: #4C88FF;
    padding: 8px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: #fff;
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    font-size: 16px;
}

.sms-notification-block .sms-notification:not(:last-child) {
    margin-bottom: 5px;
}

.sms-notification-block .sms-notification__view {
    text-decoration: underline;
    padding-left: 15px;
    cursor: pointer;
}

.sms-notification__view a {
    display: contents;
}

.sms-notification__close {
    padding-left: 15px;
    cursor: pointer;
}

.modal-select {
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 5px 10px;
}

.preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.pagination {
    position: absolute;
    width: calc(100% - 15px);
    bottom: 0;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #fff;
}

.messenger-wrapper .pagination {
    width: calc(100% - 30px);
    margin-bottom: 3px;
}

.pagination .pagination-elem {
    color: #4C88FF;
    font-size: 15px;
    cursor: pointer;
}

.pagination .pagination-elem {
    padding: 10px 7px;
}

.pagination .pagination-elem.active {
    color: #000000;
    cursor: default;
}

.messenger-chat-attach {
    position: absolute;
    right: 35px;
    top: 20px;
    cursor: pointer;
}

.main-burger {
    cursor: pointer;
}

.new-sms-modal-attach {
    position: absolute;
    right: 0;
    cursor: pointer;
}

.new-sms-modal {
    padding: 40px 80px;
}

.new-sms-modal select,
.new-sms-modal input {
    width: 100%;
}

.new-sms-modal-delete {
    cursor: pointer;
}

.new-sms-modal_attached {
    width: 100%;
}

.new-sms-modal-input {
    padding-right: 25px;
    padding-bottom: 5px;
}

.tel-info {
    margin-right: 20px;
}

.tel-info p {
    font-size: 12px;
    text-align: right;
    white-space: nowrap;
}

.cellphone {
    color: #232E42;
    background-color: #fff;
    /*box-shadow: 2px 2px 9px 6px rgba(228, 228, 228, 0.5);*/
    /*border-radius: 4px;*/
    color: #232E42;
}

.cellphone.active {
    background-color: #F7F9FA;
}

.cellphone-availability {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border: 1px solid #489FFE;
    border-radius: 6px;
}

.cellphone-availability-btn {
    width: 50%;
    text-align: center;
    padding: 7px 15px;
    font-size: 16px;
    font-weight: 400;
    color: #9DA8B2;
    cursor: pointer;
}

.cellphone-availability-btn.active {
    background-color: #489FFE;
    color: #fff;
}

.cellphone-info-box {
    min-height: 100px;
}

.cellphone-info-box__status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-size: 16px;
}

.cellphone-info-box__status .incomming,
.cellphone-info-box__status .error {
    color: #FA6161;
    font-weight: 500;
}

.cellphone-info-box__status .connected {
    color: #68C186;
    font-weight: 500;
}

.cellphone-info-box__status .transfer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cellphone-info-box__status .transfer span:first-child {
    color: #55A6FF;
    font-weight: 500;
}

.cellphone-info-box__status .transfer span:last-child {
    color: #55A6FF;
    font-weight: 700;
}

.cellphone-info-box__member {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.cellphone-info-box__member-avatar {
    margin-bottom: 15px;
    filter: drop-shadow(1px 1px 6px #AACCFF) drop-shadow(-1px -1px 6px #AACCFF);
}

.cellphone-info-box__member-avatar img {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    object-fit: cover;
}

.cellphone-info-box__member-name {
    font-size: 20px;
    font-weight: 400;
}

.cellphone-info-box__member-phone {
    font-size: 16px;
    font-weight: 400;
}

.cellphone-info-box__member-meta {
    font-size: 16px;
    font-weight: 400;
    color: #9DA8B2;
}

.cellphone-numpad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.cellphone-numpad__input {
    position: relative;
    width: 100%;
}

.cellphone-numpad__input input {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 1px 1px 4px #EFEFEF, -1px -1px 4px #EFEFEF;
    border-radius: 6px;
    color: #232E42;
    border: none;
    height: 40px;
    padding: 0px 30px 0 10px;
    font-size: 18px;
}

.cellphone-numpad__input input::placeholder {
    color: #9DA8B2;
}

.cellphone-numpad__numpad {
    width: 100%;
    margin-top: 15px;
}

.cellphone-numpad__numpad .number-row {
    display: flex;
    justify-content: space-around;
}

.cellphone-numpad__numpad .number-row .number {
    position: relative;
    width: 100%;
    font-size: 26px;
    font-weight: normal;
    text-align: center;
    cursor: pointer;
    padding: 10px 20px;
}

.cellphone-numpad__numpad .number-row .number:hover {
    color: #5b6f92;
}

.numpad-clearBtn {
    position: absolute;
    right: 10px;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.number-action-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.number-action-buttons .number-action-button {
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.number-action-buttons .number-action-button.accteptBtn {
    background-color: #68C186;
    box-shadow: -1px -1px 10px #AAEEB9, 1px 1px 10px #AAEEB9;
}

.number-action-buttons .number-action-button.declineBtn {
    background-color: #EC5353;
    box-shadow: -1px -1px 10px #EEAEAA, 1px 1px 10px #EEAEAA;
}

.number-action-buttons .number-action-button:not(:first-child) {
    margin-left: 35px;
}

.cellphone {
    display: flex;
    height: 600px;
    justify-content: space-between;
    flex-direction: column;
}

.cellphone-bottom-menu {
    height: 10%;
    width: 100%;
    border-top: 1px solid#F5F5F5;
    display: flex;
    justify-content: space-around;
}

.cellphone-bottom-menu .cellphone-bottom-menu__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: pointer;
    color: #828B92;
    font-size: 13px;
    font-weight: 500;
}

.cellphone-bottom-menu .cellphone-bottom-menu__item.active {
    color: #1068A8;
}

.cellphone-bottom-menu .cellphone-bottom-menu__item span {
    margin-top: 5px;
}

.cellphone-bottom-menu .cellphone-bottom-menu__item:hover {
    opacity: 0.9;
}

.cellphone-numpad__callActions {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cellphone-numpad__callActions .actions-row {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.cellphone-numpad__callActions .actions-row:not(:last-child) {
    margin-bottom: 25px;
}

.cellphone-numpad__callActions .actions-row .action {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.cellphone-numpad__callActions .actions-row .action.disable {
    cursor: default;
    user-select: none;
}

.cellphone-numpad__callActions .actions-row .action.disable .p-icon img,
.cellphone-numpad__callActions .actions-row .action.disable span {
    opacity: 0.5;
}

.cellphone-numpad__callActions .actions-row .action .p-icon {
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: -1px -1px 4px #E7E7E7, 1px 1px 4px #E7E7E7;
}

.cellphone-numpad__callActions .actions-row .action span {
    font-size: 13px;
    font-weight: 400;
    margin-top: 5px;
    text-align: center;
}

.cellphone-page-header {
    position: relative;
    background-color: #F9FBFF;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 2px #F7F7F7;
}

.cellphone-page-header__title {
    font-size: 20px;
    font-weight: 500;
}

.cellphone-page-body {
    padding: 15px;
    height: 80%;
}

.cellphone-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.c-form-group {
    margin-bottom: 20px;
    width: 100%;
}

.cellphone label.c-form-control {
    width: 100%;
    font-size: 18px;
    color: #232E42;
    font-weight: 400;
}

.cellphone input.c-form-control {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 1px 1px 4px #EFEFEF, -1px -1px 4px #EFEFEF;
    border-radius: 6px;
    height: 40px;
    padding: 10px 12px;
    color: #232E42;
    border: none;
}

.cellphone textarea.c-form-control {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 1px 1px 4px #EFEFEF, -1px -1px 4px #EFEFEF;
    border-radius: 6px;
    height: 40px;
    padding: 10px 12px;
    resize: none;
    color: #232E42;
    border: none;
    min-height: 72px;
}

.cellphone label.c-form-control.file-attach {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 1px 1px 4px #EFEFEF, -1px -1px 4px #EFEFEF;
    border-radius: 6px;
    height: 40px;
    padding: 10px 12px;
    color: #232E42;
    border: none;
    display: flex;
    margin-bottom: 0;
    align-items: center;
}

.cellphone .file-attach-area {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cellphone input.c-form-control::placeholder,
.cellphone textarea.c-form-control::placeholder {
    color: #9DA8B2;
}

.cellphone-input_adv {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.cellphone-input__button_right {
    position: absolute;
    position: absolute;
    right: 10px;
}

.cellphone-input__button_left {
    position: absolute;
    position: absolute;
    left: 10px;
}

.file-attach-button {
    cursor: pointer;
}

.cellphone-form-expansion {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 1px 1px 4px #EFEFEF, -1px -1px 4px #EFEFEF;
    border-radius: 6px;
    padding: 10px 12px;
    color: #232E42;
    border: none;
}

.cellphone-form-expansion__list {
    display: flex;
    flex-direction: column;
}

.cellphone-form-expansion_list__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cellphone-form-expansion_list__item:not(:last-child) {
    margin-bottom: 7px;
}

.cellphone-form-expansion {
    border-radius: 0px 0px 6px 6px;
}

.cellphone .c-form-control.with-expansion {
    border-radius: 6px 6px 0px 0px !important;
}

.cellphone-form-expansion_list__item img {
    cursor: pointer;
}

.cellphone-form-expansion_list__item__name {
    font-size: 15px;
    display: flex;
    align-items: center;
}

.cellphone-form-expansion_list__item__name span {
    margin-left: 7px;
}

.cellphone-form-expansion_list__item__name small {
    color: #94999D;
    font-size: 14px;
    font-weight: 400;
    margin-left: 5px;
}

.cellphone button.c-form-control {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 1px 1px 4px #EFEFEF, -1px -1px 4px #EFEFEF;
    border-radius: 6px;
    padding: 10px 12px;
    height: 43px;
    color: #232E42;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
}

.cellphone button.c-form-control.large-btn {
    background-color: #4290E5;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    margin-top: 30px;
}

.cellphone-page-backBtn {
    position: absolute;
    left: 7px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.celphone-searchlist {
    position: absolute;
    background-color: #fff;
    max-height: 165px;
    width: calc(100% - 70px);
    box-shadow: 1px 1px 4px #EFEFEF, -1px -1px 4px #EFEFEF;
    overflow-y: scroll;
    border-radius: 0px 0px 6px 6px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    z-index: 9;
}

.celphone-searchlist-item {
    cursor: pointer;
    font-size: 18px;
    padding: 0 5px;
    border-radius: 6px;
}

.celphone-searchlist-item:hover {
    background-color: #EDEDED;
}

.celphone-scroll-view {
    overflow-y: auto;
    overflow-x: hidden;
}

.celphone-scroll-view::-webkit-scrollbar {
    width: 5px;
}

.celphone-scroll-view::-webkit-scrollbar-track {
    background: #EDEDED;
    border-radius: 4px;
}


.celphone-scroll-view::-webkit-scrollbar-thumb {
    background: #AFD2F9;
    border-radius: 4px;
    margin: 7px 0;
}

.cellphone-switcher {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #E5F2F5;
    border-radius: 8px;
    height: 45px;
    padding: 5px;
    transition: 0.2s;
    margin-bottom: 20px;
}

.cellphone-switcher__item {
    width: 100%;
    display: flex;
    background-color: #E5F2F5;
    align-items: center;
    font-size: 16px;
    height: 100%;
    cursor: pointer;
    font-weight: 400;
    justify-content: center;
    color: #5A6570;
}

.cellphone-switcher__item.active {
    background-color: #489FFE;
    font-weight: 500;
    cursor: default;
    color: #fff;
    border-radius: 8px;
}

.cellphone-list__item_avatar {
    width: 33px;
    height: 33px;
    margin-right: 5px;
}

.cellphone-list__item_avatar img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.cellphone-list {
    display: flex;
    flex-direction: column;
}

.cellphone-list__item:not(last-child) {
    margin-bottom: 20px;
}

.cellphone-list__item_body {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cellphone-list__item_body::after {
    content: "";
    position: absolute;
    border-bottom: 1px solid #F5F5F5;
    width: 100%;
    bottom: -11px;
}

.cellphone-list__item_right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cellphone-list__item_more {
    margin-left: 10px;
}

.cellphone-list__item_meta {
    color: #9DA8B2;
    font-size: 14px;
    font-weight: 400;
}

.cellphone-list__item {
    display: flex;
    align-items: center;
}

.cellphone-list__item_name {
    line-height: 1.3;
}

.cellphone-list__item_name .title {
    font-size: 14px;
    font-weight: 500;
}

.cellphone-list__item_name .title.red {
    color: #CE2234;
}

.cellphone-list__item_name .subtitle {
    color: #94999D;
    font-size: 14px;
    font-weight: 400;
}

.cellphone-list__item_actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 25px;
    width: 90px;
    background: #FFFFFF;
    box-shadow: 1px 1px 4px #EFEFEF, -1px -1px 4px #EFEFEF;
    border-radius: 6px;
}

.cellphone-list__item_actions_item {
    cursor: pointer;
}

.cellphone-list__item_more {
    cursor: pointer;
}

.cellphone-history-all-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.cellphone-history-all-actions__item {
    display: flex;
    height: 30px;
    font-size: 12px;
    font-weight: 400;
    white-space: nowrap;
    padding: 5px 10px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 1px 1px 4px #EFEFEF, -1px -1px 4px #EFEFEF;
    border-radius: 6px;
}

.cellphone-history-all-actions__item.active {
    color: #489FFE;
    box-shadow: 1px 1px 4px #A0CEFF, -1px -1px 4px #A0CEFF;
}

.cellphone-history-all-actions__item:nth-child(2) {
    margin: 0 5px;
}

.cellphone-history-all-actions__item:nth-child(3).active {
    color: #C63434;
    box-shadow: 1px 1px 4px #C63434, -1px -1px 4px #C63434;
}

.cellphone .plus-under-zero {
    position: absolute;
    bottom: 5px;
    color: #9DA8B2;
    font-size: 16px;
}

.cellphone-bottom-menu .cellphone-bottom-menu__item .c-badge {
    display: flex;
    position: absolute;
    top: -2px;
    right: -2px;
}

.c-checkmark-container {
    position: relative;
}

.c-checkmark-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.c-checkmark {
    background-image: url('/src/static/icons/c-checkbox.svg');
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    display: block;
}

.c-checkmark-container input:checked ~ .c-checkmark {
    background-image: url('/src/static/icons/c-checkbox-active.svg') !important;
}

@media (min-width: 991px) {
    .hide-on-medium-and-up {
        display: none !important;
    }
}

@media (max-width: 990px) {
    body {
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .hide-on-medium-and-down {
        display: none !important;
    }

    .page-wrapper {
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .page-wrapper .list-items-wrapper {
        padding-right: 0;
        background: transparent;
    }

    .page-wrapper .list-items-wrapper .item {
        -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.15);
        box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.15);
        margin-top: 10px;
        background: #ffffff;
        border-bottom: none;
    }

    .page-wrapper .list-items-wrapper .item .item-column {
        border-bottom: solid 1px rgba(0, 0, 0, 0.1);
        padding-top: 10px;
        padding-bottom: 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .page-wrapper .list-items-wrapper .item .item-column:last-child {
        border-bottom: none;
    }

    .page-wrapper .list-items-wrapper .item .item-column .header {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }

    .page-wrapper .list-items-wrapper .item .item-column .content {
        -webkit-box-flex: 3;
        -ms-flex: 3;
        flex: 3;
    }

    .page-wrapper .list-items-wrapper .item .item-column .content .notification {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}


@media (min-width: 768px) {
    #header-send-sms-button {
        max-width: 130px;
    }

    #header-settings-button {
        max-width: 122px;
    }

    .page-wrapper .page-header .search-wrapper .search {
        max-width: 146px;
    }
}

@media (max-width: 767.98px) {
    .page-wrapper .page-header>* {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 950px;
    }

    .page-wrapper .page-header {
        min-height: 110px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1290px;
    }
}


@media (max-width: 1290px) {
    .container {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }
}

#btn_accept_active {
    background-color: #7EDC5D;
}


#btn_decline_active {
    background-color: #EC5454;
}

.back-btn {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.back-btn {
    cursor: pointer;
}

.driver-dispatcher_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.content-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.content-wrapper-left {
    width: 100%;
}

.my-node-enter {
    opacity: 0;
    transform: translateX(-10px);
}

.my-node-enter-active {
    transform: translateX(0px);
    opacity: 1;
    transition: 200ms ease-in-out;
}

.my-node-exit {
    opacity: 1;
    transform: translateX(0px);

}

.my-node-exit-active {
    transform: translateX(-10px);
    opacity: 0;
    transition: 100ms;
}

.my-node2-enter {
    opacity: 0;
    /*transform: translateX(50px);*/
}

.my-node2-enter-active {
    /*transform: translateX(0px);*/
    opacity: 1;
    transition: 800ms ease-in-out;
}

.my-node2-exit {
    opacity: 0;
}

.my-node2-exit-active {
    /*transform: translateX(50px);*/
    opacity: 0;
    transition: 0ms;
}

.new-sms-enter {
    opacity: 0;
    transform: translateZ(20px) scale(0);
}

.new-sms-enter-active {
    transform: translateZ(0px);
    opacity: 1;
    transition: 200ms ease-in-out;
}

.new-sms-exit {
    opacity: 1;
    transform: translateZ(0px) scaleX(1);

}

.new-sms-exit-active {
    transform: translateZ(20px) scaleX(0);
    opacity: 0;
    transition: 100ms;
}

.page-wrapper .list-items-wrapper .item[data-is_working='false'] {
    background-color: #D0E3FF;
}

.page-wrapper .list-items-wrapper .item[data-is_fired='true'] {
    background-color: #E1E1E2;
}

#new-driver-modal .modal-buttons {
    justify-content: space-evenly;
}

.burger-menu-btn img {
    width: 22px;
}

.logout-btn {
    display: flex;
    position: relative;
    left: 50px;
}

.dispatcher-list-enter {
    opacity: 0;
    transform: translateZ(20px) scale(0);
}

.dispatcher-list-enter-active {
    transform: translateZ(0px);
    opacity: 1;
    transition: 200ms ease-in-out;
}

.dispatcher-list-exit {
    opacity: 1;
    transform: translateZ(20px) scale(1);

}

.call-notification-exit-active {
    transform: translateY(0px);
    transition: 500ms ease-in-out;
}

.call-notification-enter {
    transform: translateY(-700px);
}

.call-notification-enter-active {
    transform: translateY(0px);
    transition: 500ms ease-in-out;
}

.call-notification-exit {
    transform: translateY(0px);

}

.call-notification-exit-active {
    transform: translateY(-700px);
    transition: 500ms ease-in-out;
}


/*------------*/

.cellphone-more-button-enter {
    opacity: 0;
    transform: scaleZ(0);
}

.cellphone-more-button-enter-active {
    transform: scaleZ(1);
    opacity: 1;
    transition: 200ms ease-in-out;
}

.cellphone-more-button-exit {
    opacity: 1;
    transform: scaleZ(1);

}

.cellphone-more-button-exit-active {
    transform: scaleZ(0);
    opacity: 0;
    transition: 100ms;
}


.cellphone-action-menu-enter {
    opacity: 0;
    transform: scaleZ(0);
}

.cellphone-action-menu-enter-active {
    transform: scaleZ(1);
    opacity: 1;
    transition: 200ms ease-in-out;
}

.cellphone-action-menu-exit {
    opacity: 1;
    transform: scaleZ(1);

}

.cellphone-action-menu-exit-active {
    transform: scaleZ(0);
    opacity: 0;
    transition: 100ms;
}


.call-history-edit-menu-enter {
    /*opacity: 0;*/
    transform: translateX(400px) scaleY(0);
}

.call-history-edit-menu-enter-active {
    transform: translateX(0px) scaleY(1);
    /*opacity: 1;*/
    transition: 500ms ease-in-out;
}

.call-history-edit-menu-exit {
    /*opacity: 1;*/
    transform: translateX(0px) scaleY(1);

}

.call-history-edit-menu-exit-active {
    transform: translateX(400px) scaleY(0);
    /*opacity: 0;*/
    transition: 200ms;
}


.call-history-checkbox-enter {
    opacity: 0;
    transform: scaleX(0);
}

.call-history-checkbox-enter-active {
    transform: scaleX(1);
    opacity: 1;
    transition: 500ms ease-in-out;
}

.call-history-checkbox-exit {
    opacity: 1;
    transform: scaleX(1);

}

.call-history-checkbox-exit-active {
    transform: scaleX(0);
    opacity: 0;
    transition: 200ms;
}
